<h2>Sensor Data Charts</h2>
<canvas id="tempChart"></canvas>
<canvas id="humidityChart"></canvas>
<canvas id="soilChart"></canvas>
<canvas id="lightChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/charts.js"></script>
