<header class="site-header">
  <div class="header-left">
    <img src="/images/logo.png" alt="Smart Greenhouse Logo" class="logo" />
    <span class="app-name">Smart Greenhouse</span>
  </div>
</header>
